/* NAV BUTTONS */

.paginationBttns li:not(:nth-child(1)):not(:last-child) {
    display: none;
} 

.paginationBttns {
    background: var(--color-bckground);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    list-style-type: none;
}

.paginationBttns a {
    background: transparent;
    padding: 1rem 1.5rem;
    border-radius: 60%;
    display: flex;
    color: var(--color-primary);
    font-size: 1.1rem;
    transition: all 400ms ease;
}

.paginationBttns a:hover {
    background: var(--color-bckground);
    cursor: default;
} 

/* DATA */

.data {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    border: 1px solid transparent;
}

.data:hover {
    filter: brightness(85%);
}

.data li {
    height: 2rem;
}